<div class= 'text-center tracking-tight'>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user.username %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <div class="text-sm text-blue-600 hover:underline mt-1">
    <p>
      <%= link_to 'Destroy Comment', [comment.article, comment],
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </p>
  </div>
</div>
